<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <record id="action_stock_barcode_lite_sunrise_inbound_order" model="ir.actions.act_window">
        <field name="name">Sunrise Inbound Orders</field>
        <field name="res_model">world.depot.inbound.order</field>
        <field name="view_mode">list,form</field>
        <field name="domain">[('project.name', '=', 'SUNRISE')]</field>
        <field name="context">{'default_project_name': 'SUNRISE', 'search_default_state_not_cancel': 1,
                               'show_sunrise_fields': True}</field>
        <field name="search_view_id" ref="view_stock_barcode_lite_sunrise_inbound_order_search"/>
    </record>

    <record id="action_stock_barcode_lite_sunrise_outbound_order" model="ir.actions.act_window">
        <field name="name">Sunrise Outbound Orders</field>
        <field name="res_model">world.depot.outbound.order</field>
        <field name="view_mode">list,form</field>
        <field name="domain">[('project.name', '=', 'SUNRISE')]</field>
        <field name="context">{'default_project_name': 'SUNRISE', 'search_default_state_not_cancel': 1,
                               'show_sunrise_fields': True}</field>
        <field name="search_view_id" ref="view_stock_barcode_lite_sunrise_outbound_order_search"/>
    </record>

    <record model="ir.actions.act_window" id="action_stock_pda_internal_transfer">
        <field name="name">PDA Internal Transfers</field>
        <field name="res_model">stock.picking</field>
        <field name="view_mode">list,form</field>
        <field name="domain">[('is_pda_internal_transfer', '=', True)]</field>
        <field name="context">{'search_default_state_not_cancel': 1}</field>
        <field name="search_view_id" ref="view_picking_internal_transfer_search"/>
    </record>

    <record id="action_api_log_sunrise_get_wms" model="ir.actions.act_window">
        <field name="name">API Logs</field>
        <field name="res_model">world.depot.api.log</field>
        <field name="view_mode">list</field>
        <field name="domain">[('project_id.name', '=', 'SUNRISE')]</field>
        <field name="view_id" ref="worlddepot.view_api_log_tree"/>
        <field name="search_view_id" ref="worlddepot.view_api_log_search"/>
    </record>

    <record id="action_stock_barcode_lite_homepage" model="ir.actions.client">
        <field name="name">Stock Barcode Lite</field>
        <field name="tag">stock_barcode_lite_homepage</field>
        <field name="target">main</field>
    </record>

    <record id="action_stock_barcode_lite_inbound" model="ir.actions.client">
        <field name="name">Inbound</field>
        <field name="tag">stock_barcode_lite_inbound</field>
        <field name="target">main</field>
    </record>

    <record id="action_stock_barcode_lite_outbound" model="ir.actions.client">
        <field name="name">Break Bulk Outbound</field>
        <field name="tag">stock_barcode_lite_outbound</field>
        <field name="target">main</field>
    </record>

    <record id="action_stock_barcode_lite_outbound_whole" model="ir.actions.client">
        <field name="name">Full Pallet Outbound</field>
        <field name="tag">stock_barcode_lite_outbound_whole</field>
        <field name="target">main</field>
    </record>

    <record id="action_stock_barcode_lite_outbound_disassembly" model="ir.actions.client">
        <field name="name">Break Bulk Outbound (New)</field>
        <field name="tag">stock_barcode_lite_outbound_disassembly</field>
        <field name="target">main</field>
    </record>

    <record id="action_stock_barcode_lite_internal_transfer" model="ir.actions.client">
        <field name="name">Internal Transfer</field>
        <field name="tag">stock_barcode_lite_internal_transfer</field>
        <field name="target">main</field>
    </record>

    <record id="action_create_pda_internal_transfer" model="ir.actions.server">
        <field name="name">Create PDA Internal Transfer</field>
        <field name="model_id" ref="stock.model_stock_picking"/>
        <field name="binding_model_id" ref="stock.model_stock_picking"/>
        <field name="state">code</field>
        <field name="code">
            action = model.action_create_pda_internal_transfer()
        </field>
    </record>

    <menuitem id="menu_stock_barcode_lite_root"
              name="Chen Yang Stock Management"
              sequence="50"
              action="action_stock_barcode_lite_homepage"
              web_icon="stock_barcode_lite,static/description/img.png"/>


    <menuitem id="menu_stock_barcode_lite_configuration"
              name="Configuration"
              parent="menu_stock_barcode_lite_root"
              sequence="90"
              groups="base.group_system"/>

    <menuitem id="menu_stock_barcode_lite_import"
              name="Imports"
              parent="menu_stock_barcode_lite_configuration"
              sequence="20"
              groups="base.group_system"/>

    <menuitem id="menu_stock_barcode_lite_homepage"
              name="Homepage"
              parent="menu_stock_barcode_lite_root"
              action="action_stock_barcode_lite_homepage"
              sequence="20"/>
    <menuitem id="menu_stock_barcode_lite_sunrise_inbound_order_parent"
              name="Sunrise Inbound Orders"
              parent="menu_stock_barcode_lite_root"
              sequence="30"/>
    <menuitem id="menu_stock_barcode_lite_sunrise_inbound_order"
              name="Sunrise Inbound Orders"
              parent="menu_stock_barcode_lite_sunrise_inbound_order_parent"
              action="action_stock_barcode_lite_sunrise_inbound_order"
              sequence="5"/>
    <menuitem id="menu_stock_barcode_lite_sunrise_inbound_pallet"
              name="Pallet Products"
              parent="menu_stock_barcode_lite_sunrise_inbound_order_parent"
              action="action_stock_barcode_lite_sunrise_inbound_pallet_product"
              sequence="35"/>
    <menuitem id="menu_stock_barcode_lite_sunrise_outbound_order"
              name="Sunrise Outbound Orders"
              parent="menu_stock_barcode_lite_root"
              action="action_stock_barcode_lite_sunrise_outbound_order"
              sequence="40"/>
    <menuitem id="menu_stock_pda_internal_transfer"
              name="Internal Transfer"
                parent="menu_stock_barcode_lite_root"
                action="action_stock_pda_internal_transfer"
                sequence="45"/>
    <menuitem id="menu_stock_barcode_lite_report"
              name="Reports"
              parent="menu_stock_barcode_lite_root"
              sequence="50"
              groups="stock_barcode_lite.group_sunrise_stock_manager"/>
    <menuitem id="menu_sunrise_stock_report"
              name="Sunrise Inventory Report"
              parent="menu_stock_barcode_lite_report"
              action="action_sunrise_stock_report"
              sequence="5"/>
    <menuitem id="menu_sunrise_inbound_pallet_summary_report"
              name="Inbound Pallet Summary Report"
              parent="menu_stock_barcode_lite_report"
              action="action_sunrise_inbound_pallet_summary_report"
              sequence="7"/>
    <menuitem id="menu_sunrise_location_occupancy_report"
              name="Warehouse Location Occupancy"
              parent="menu_stock_barcode_lite_report"
              action="action_sunrise_location_occupancy_report"
              sequence="10"/>
    <menuitem id="menu_get_wms_sunrise_api_config"
              name="Get WMS API Log"
              parent="menu_stock_barcode_lite_configuration"
              action="action_api_log_sunrise_get_wms"
              sequence="5"/>

</odoo>
