############################
# 先默认忽略全部
############################
*

############################
# 保留 gitignore
############################
!.gitignore

############################
# 保留 mymodules 目录和内容
############################
!mymodules/
!mymodules/**

############################
# 重新忽略 Python cache
# 注意：这些必须放在 !mymodules/** 后面
############################
__pycache__/
**/__pycache__/
*.py[cod]
*.pyo
mymodules/**/__pycache__/
mymodules/**/*.py[cod]
mymodules/**/*.pyo

############################
# Odoo runtime / cache
############################
*.log
*.sqlite
*.db
.odoo/
filestore/
session/

############################
# Virtual env
############################
venv/
.env/

############################
# IDE / OS
############################
.idea/
.vscode/
.DS_Store

############################
# 不管 README
############################
README.md