############################
# Ignore everything
############################
*

############################
# Allow essentials
############################
!.gitignore
!README.md

############################
# Allow custom modules
############################
!mymodules/
!mymodules/**

############################
# Python
############################
__pycache__/
*.py[cod]
*.pyo

############################
# Odoo runtime
############################
*.log
*.sqlite
*.db
.odoo/
filestore/
session/

############################
# Virtual env
############################
venv/
.env/

############################
# IDE
############################
.idea/
.vscode/
.DS_Store

