############################
# 1. Python runtime
############################
__pycache__/
*.py[cod]
*.pyo

############################
# 2. Odoo runtime / cache
############################
*.log
*.sqlite
*.db
.odoo/
filestore/
session/

############################
# 3. Virtual env
############################
venv/
.env/

############################
# 4. IDE / OS
############################
.idea/
.vscode/
.DS_Store

############################
# 5. Default ignore
############################
*

############################
# 6. Allow repo essentials
############################
!.gitignore
!README.md

############################
# 7. Allow custom modules
############################
!mymodules/
!mymodules/**
__pycache__/
*.py[cod]
