.o_list_view.o_waybill_list .o_list_table .o_data_cell .text-success {
    color: #198754 !important;
    font-weight: 700;
}

.o_list_view.o_waybill_list .o_list_table .o_data_cell .text-danger {
    color: #dc3545 !important;
    font-weight: 700;
}
